@charset "UTF-8";
:root{
    --white: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PAGINA PRINCIPAL*/
body{
    font-size: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #141414;
}

a{
    color: var(--white);
    text-decoration: none;
}

header{
    background: rgba(0, 0, 0, 0.671);
    padding: 0.1rem;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu h1{
    text-transform: uppercase;
    color: red;
    font-size: 2.5rem;
    margin: 1rem 4rem;
}

.menu button{
    background: red;
    color: var(--white);
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 10%;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin: 1rem 4rem;
}

/*filme principal*/
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/justiceiro.jpg);
    background-size: cover;
}

.serie-principal{
    color: var(--white);
    font-size: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

.botoes-principal{
    display: grid;
    grid-template-columns: 10rem 14rem;
    width: 25em;
}

.botao-info, .botao-assistir{
    border-radius: 5%;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    height: 3rem;
}

.botao-info{
    width: 12rem;
    background: rgba(128, 128, 128, 0.616);
    color: var(--white);
}

.botao-info:hover{
    background: rgba(128, 128, 128, 0.466);
}

.botao-assistir{
    width: 8rem;
}

.botao-assistir:hover{
    background: rgba(255, 255, 255, 0.753)
}

.botoes-principal i{
    margin: auto 0.5rem;
}

.titulo, .sinopse{
    height: 4rem;
    width: 30rem;
    margin: 1rem 0;
}

.titulo{
    font-size: 4rem;
}

/*carrossel*/
.filmes-container, .series-container{
    width: 90vw;
    margin: 0 auto;
}

.filmes-container h1, .series-container h1{
    color: var(--white);
    margin: 1rem 0;
}

img{
    width: 100%;
    height: 100%;
}

.filmes, .series{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.filmes::-webkit-scrollbar, .series::-webkit-scrollbar{
    background: #141414;
    height: 0.5rem;
}

.filmes::-webkit-scrollbar-thumb, .series::-webkit-scrollbar-thumb{
    background: rgba(85, 83, 83, 0.589);
    border-radius: 2rem;
}

.filme, .serie{
    margin: 0 0.25rem;
    flex: none;
    width: 15%;
    scroll-snap-align: start;
    /*pointer-events: none; RECEBE O EFEITO DE ROLAGEM DO PAI*/
}

/*FOOTER*/
footer{
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    color: var(--white);
    font-size: 1rem;
}

footer .sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
}

footer .sociais a{
    padding: 0.5rem;
}



/*RESPONSIVIDADE*/
@media (max-width: 900px) {
    .container{
        height: 10rem;
        margin-top: 8rem;
        margin-bottom: 1rem;
    }

    .container h1{
        font-size: 3rem;
        margin-bottom: 0;
        width: 20rem;
    }

    .container p{
        font-size: 1rem;
        width: 20rem;
        margin-top: 0;
    }

    .botoes-principal{
        display: flex;
        flex-direction: column;
        width: 10rem;
    }
    
    .botao-info, .botao-assistir{
        height: 2rem;
        width: 12rem;
        margin: 0.2rem 0;
    }

}

@media (max-width:700px){
    .filmes::-webkit-scrollbar, .series::-webkit-scrollbar{
        height: 0.35rem;
    }
    
    .filme, .serie{
        width: 23%;
    }
    
}

@media (max-width:500px){
    main{
        background-position: center center;
    }

    .menu h1{
        font-size: 2rem;
        margin: 1rem 2rem;
    }
    
    .menu button{
        width: 3rem;
        height: 2rem;
        margin: 1rem 2rem;
    }

    /*carrossel*/
    .filmes::-webkit-scrollbar, .series::-webkit-scrollbar{
        height: 0.2rem;
    }

    .filme, .serie{
        width: 30%;
    }
}

@media (max-width: 450px){
    .container{
        margin-left: -2rem;
    }

    .container h1{
        font-size: 2.5rem;
        margin-bottom: -1rem;
        width: 20rem;
    }

    .container p{
        font-size: 1rem;
        width: 15rem;
        margin-top: 0;
    }

    .botao-info, .botao-assistir{
        margin-left: -2rem;
    }

}